# Operating System Files

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

# Build Artifacts

.gradle/
build/
target/
bin/
data/
dependency-reduced-pom.xml

# Eclipse Project Files

project
checkpoint
.bloop
.classpath
.project
.settings/
.metals

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea